# SnapTrade API Credentials
# Sign up at https://snaptrade.com to get your credentials

#Personal API Key
#Client ID
SNAPTRADE_CLIENT_ID=<Personal API Key - Client ID>
#Client ID
SNAPTRADE_CONSUMER_KEY=<Personal API Key - Secret>

# Encryption Key for Credential Storage
# Generate with: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
ENCRYPTION_KEY=cSzwx7x5mf6R1Ig2dZwPf_aq1GMOJXbk=

# Optional: If you already have a registered user, add these to skip registration
# example: mcmanus.tom@gmail.com.  This is who you register.   Easier to do through Snaptrade.com
SNAPTRADE_USER_ID= <userID> 
# user_secret This is generated when you register the usere
SNAPTRADE_USER_SECRET=<user_secret>
# Optional: SnapTrade Environment (sandbox or production)
SNAPTRADE_ENV=sandbox
